body {
  font-family: Arial, sans-serif;
  margin: 2em;
  padding: 0;
  background-color: rgb(36, 36, 36);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(61, 61, 61);
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
}

body .navbar .category {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  position: relative;
  padding-bottom: 10px;
}

.category span {
  font-size: 14px;
}

.category::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: rgb(253, 224, 83);
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
}

.category:hover::after {
  width: 100%;
}

@media (max-width: 1200px) {
  .category {
    flex: 1 1 15%;
  }
}

@media (max-width: 800px) {
  .category {
    flex: 1 1 25%;
  }
}

@media (max-width: 500px) {
  .category {
    flex: 1 1 45%;
  }
}

/* END */

.container {
  display: flex;
  margin: 20px;
}

.odds-display {
  flex: 3;
  margin-right: 20px;
}

.sidebar {
  flex: 1;
  background-color: rgb(253, 224, 83);
  padding: 10px;
  border-radius: 10px;
}

.odds-display .containerA,
.containerB,
.containerC,
.containerD,
.containerE,
.containerF {
  background-color: white;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1em;
}

.containerA .head,
.containerB .head,
.containerC .head,
.containerD .head,
.containerE .head,
.containerF .head {
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 10px;
}

.sidebar .bet {
  background-color: white;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}

.sidebar h2 {
  text-align: center;
}

.bet .kushi {
  list-style-type: none;
  display: flex;
}

button {
  background-color: #4848481e;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9em;
}

button:hover {
  background-color: rgba(128, 128, 128, 0.339);
}

button:active {
  background-color: rgba(128, 128, 128, 0.57);
}
