body {
  font-family: Arial, sans-serif;
  margin: 2em;
  padding: 0;
  background-color: rgb(36, 36, 36);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(61, 61, 61);
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
}

body .navbar .category {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  position: relative;
  padding-bottom: 10px;
}

.category span {
  font-size: 14px;
}

.category::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: rgb(253, 224, 83);
  transition: width 0.3s ease, left 0.3s ease;
  transform: translateX(-50%);
}

.category:hover::after {
  width: 100%;
}

@media (max-width: 1200px) {
  .category {
    flex: 1 1 15%;
  }
}

@media (max-width: 800px) {
  .category {
    flex: 1 1 25%;
  }
}

@media (max-width: 500px) {
  .category {
    flex: 1 1 45%;
  }
}

.container {
  display: flex;
  margin: 20px;
}

.odds-display {
  flex: 3;
  margin-right: 20px;
}

.sidebar {
  flex: 1;
  background-color: rgb(253, 224, 83);
  padding: 10px;
  border-radius: 10px;
}

.odds-display .containerA,
.containerB,
.containerC,
.containerD,
.containerE,
.containerF {
  background-color: white;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  font-size: 1em;
}

.containerA .head,
.containerB .head,
.containerC .head,
.containerD .head,
.containerE .head,
.containerF .head {
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 10px;
}

.sidebar .bet {
  background-color: white;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}

.sidebar h2 {
  text-align: center;
}

.bet .kushi {
  list-style-type: none;
  display: flex;
}

button {
  background-color: #4848481e;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9em;
}

button:hover {
  background-color: rgba(128, 128, 128, 0.339);
}

button:active {
  background-color: rgba(128, 128, 128, 0.57);
}

.bet-container {
  width: 300px;
  padding: 20px;
  background: rgb(253, 224, 83);
  margin-bottom: 20px;
  border-radius: 10px;
}

.bet-details {
  display: none;
  padding-top: 10px;
}

.bet {
  padding: 10px 0;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.bet strong {
  display: block;
  margin-bottom: 5px;
}

.offers {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}

.offers li {
  margin-bottom: 5px;
}

button {
  margin-top: 10px;
  margin-right: 5px;
}

.stake-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.stake-container button {
  background-color: rgba(128, 128, 128, 0.339);
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.stake-container button:hover {
  background-color: rgba(128, 128, 128, 0.57);
}

.stake-input {
  width: 100px;
  text-align: center;
  margin: 0 10px;
}

.total-potential-winnings {
  background: rgb(253, 224, 83);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.total-potential-winnings-list {
  display: flex;
  flex-direction: column;
}

.winnings-item {
  margin-bottom: 10px;
}

.winnings-link {
  color: #000; 
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.winnings-link:hover {
  text-decoration: underline;
  background-color: rgba(0, 123, 255, 0.1);
}

.winnings-link.best-offer {
  color: #28a745; 
  border: 2px solid #28a745;
}

.winnings-link.best-offer:hover {
  background-color: rgba(40, 167, 69, 0.1);
}

.bet-header {
  position: relative;
  width: 280px;
  height: 90px;
}

.remove-bet {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;
  font-size: 0.8em;
  background: none;
  border: 2px solid red; 
  color: red; 
  width: 33px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s, border-color 0.3s;
}

.remove-bet:hover {
  color: white; 
  background-color: red; 
  border-color: red; 
}

.bet .toggle-details {
  position: relative;
  left: 90px;
  bottom: 30px;
  width: 100px;
  font-size: 2.7em;
  text-align: center;
  background: none;
  cursor: pointer;
  color: rgb(36, 36, 36);
  border-radius: 5px;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.bet {
  background-color: white;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid transparent; 
  transition: border-color 0.3s; 
}

.bet {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.bet:hover {
  transform: scale(1.04);
}